*{
    margin: 0;
    padding: 0;
}
body{
    background: yellow;
}


.flex-container{
    display: flex;
    background-color: yellow;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.item{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 75%;
}

